In [47]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [48]:
채용정보=pd.read_excel('data/saramdata.xlsx')
채용정보

,Unnamed: 0,id,마감여부,공고주소,회사명,공고제목,업종명,지역코드,근무형태코드,상위직무코드,...,직무키워드,경력코드,최소경력,최대경력,학력코드,학력,연봉코드,등록일,조회수,지원자수
0,0,44537982,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(주)델타엑스,Deep Learning Research Engineer (MS or higher ...,솔루션·SI·ERP·CRM,'101240,1,2,...,"소프트웨어개발,솔루션업체",0,0,0,8,대학교졸업(4년)이상,99,2022-11-29T20:10:44+0900,0,0
1,1,44537970,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(주)두원전자통신,[두원전자통신] 정보통신 CCTV 기술지원 인원 충원(경남 지사),전기·전자·제어,'110150,1,"22,11,2,4,18,8",...,"Hardware,전기,전기공사,전자",3,2,0,7,"대학졸업(2,3년)이상",99,2022-11-29T20:02:42+0900,0,0
2,2,44537969,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(주)대륜컨설팅,[서울] SEO / SEM 경력직 마케터 정기채용,광고·홍보·전시,'101010,1,"2,14",...,"광고기획사,광고대행사,광고영업,전시기획,홍보대행사",2,3,0,8,대학교졸업(4년)이상,18,2022-11-29T20:01:04+0900,0,0
3,3,44537962,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,반석써치(주),[정규직] 정보보호/정보보안 경력직 채용,시설관리·경비·용역,'101010,1,2,...,서치펌,2,4,5,8,대학교졸업(4년)이상,99,2022-11-29T19:58:50+0900,0,0
4,4,44537955,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(주)대륜컨설팅,[부산] SEO / SEM 경력직 마케터 정기채용,광고·홍보·전시,'106160,1,"2,14",...,"광고기획사,광고대행사,광고영업,전시기획,홍보대행사",2,3,0,8,대학교졸업(4년)이상,18,2022-11-29T19:53:48+0900,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18441,18441,39715673,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(주)아이디정보시스템,소프트웨어 프로그램 개발자,솔루션·SI·ERP·CRM,"'101000,101070,101080",1,"11,2,16",...,소프트웨어개발,2,5,20,0,학력무관,0,2021-03-03T10:39:53+0900,2820,14
18442,18442,39659240,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(주)이젠아카데미,[국비지원 취업] 자바 웹개발/빅데이터/웹디자인/영상/건축,학원·어학원,"'101000,101010,101090,101150,101200,101230,102...",12,"11,22,2,13,15",...,IT학원,3,0,0,0,학력무관,99,2021-02-22T17:19:51+0900,36751,120
18443,18443,38563977,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(주)우아한형제들,부문별 경력/신입 인재영입,솔루션·SI·ERP·CRM,"'101010,101060,101180,102220,103000,108060","1,16,2","22,12,2,3,14,4,15,5,16,21",...,"SI·시스템통합,소프트웨어개발,솔루션업체",3,0,0,0,학력무관,99,2020-08-05T10:04:45+0900,2370979,0
18444,18444,34784070,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,마르퀴즈테크놀로지스(주),Test Engineers Mobile Phone,연구소·컨설팅·조사,'101010,1,"11,2",...,연구소,3,0,0,8,대학교졸업(4년)이상,0,2018-10-04T11:37:27+0900,14007,27
18445,18445,44437165,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(재) 노사발전재단,2022-05호 노사발전재단 직원 채용 공고(일반직_정보화),정부·공공기관·공기업,'101130,1,2,...,"공공기관,공사·공기업",0,0,0,0,학력무관,12,2022-11-15T00:00:00+0900,76,0

In [49]:
지역코드 = 채용정보["지역코드"].str.split(',', expand = True)
지역코드

,0,1,2,3,4,5,6,7,8,9
0,'101240,None,None,None,None,None,None,None,None,None
1,'110150,None,None,None,None,None,None,None,None,None
2,'101010,None,None,None,None,None,None,None,None,None
3,'101010,None,None,None,None,None,None,None,None,None
4,'106160,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
18441,'101000,101070,101080,None,None,None,None,None,None,None
18442,'101000,101010,101090,101150,101200,101230,102000,102280,102320,108000
18443,'101010,101060,101180,102220,103000,108060,None,None,None,None
18444,'101010,None,None,None,None,None,None,None,None,None
18445,'101130,None,None,None,None,None,None,None,None,None

In [50]:
지역코드.columns=['지역코드0','지역코드1','지역코드2','지역코드3','지역코드4','지역코드5','지역코드6','지역코드7','지역코드8','지역코드9']
지역코드

,지역코드0,지역코드1,지역코드2,지역코드3,지역코드4,지역코드5,지역코드6,지역코드7,지역코드8,지역코드9
0,'101240,None,None,None,None,None,None,None,None,None
1,'110150,None,None,None,None,None,None,None,None,None
2,'101010,None,None,None,None,None,None,None,None,None
3,'101010,None,None,None,None,None,None,None,None,None
4,'106160,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
18441,'101000,101070,101080,None,None,None,None,None,None,None
18442,'101000,101010,101090,101150,101200,101230,102000,102280,102320,108000
18443,'101010,101060,101180,102220,103000,108060,None,None,None,None
18444,'101010,None,None,None,None,None,None,None,None,None
18445,'101130,None,None,None,None,None,None,None,None,None

In [51]:
채용정보1 = pd.concat([채용정보,지역코드],axis=1)
채용정보1

,Unnamed: 0,id,마감여부,공고주소,회사명,공고제목,업종명,지역코드,근무형태코드,상위직무코드,...,지역코드0,지역코드1,지역코드2,지역코드3,지역코드4,지역코드5,지역코드6,지역코드7,지역코드8,지역코드9
0,0,44537982,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(주)델타엑스,Deep Learning Research Engineer (MS or higher ...,솔루션·SI·ERP·CRM,'101240,1,2,...,'101240,None,None,None,None,None,None,None,None,None
1,1,44537970,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(주)두원전자통신,[두원전자통신] 정보통신 CCTV 기술지원 인원 충원(경남 지사),전기·전자·제어,'110150,1,"22,11,2,4,18,8",...,'110150,None,None,None,None,None,None,None,None,None
2,2,44537969,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(주)대륜컨설팅,[서울] SEO / SEM 경력직 마케터 정기채용,광고·홍보·전시,'101010,1,"2,14",...,'101010,None,None,None,None,None,None,None,None,None
3,3,44537962,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,반석써치(주),[정규직] 정보보호/정보보안 경력직 채용,시설관리·경비·용역,'101010,1,2,...,'101010,None,None,None,None,None,None,None,None,None
4,4,44537955,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(주)대륜컨설팅,[부산] SEO / SEM 경력직 마케터 정기채용,광고·홍보·전시,'106160,1,"2,14",...,'106160,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18441,18441,39715673,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(주)아이디정보시스템,소프트웨어 프로그램 개발자,솔루션·SI·ERP·CRM,"'101000,101070,101080",1,"11,2,16",...,'101000,101070,101080,None,None,None,None,None,None,None
18442,18442,39659240,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(주)이젠아카데미,[국비지원 취업] 자바 웹개발/빅데이터/웹디자인/영상/건축,학원·어학원,"'101000,101010,101090,101150,101200,101230,102...",12,"11,22,2,13,15",...,'101000,101010,101090,101150,101200,101230,102000,102280,102320,108000
18443,18443,38563977,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(주)우아한형제들,부문별 경력/신입 인재영입,솔루션·SI·ERP·CRM,"'101010,101060,101180,102220,103000,108060","1,16,2","22,12,2,3,14,4,15,5,16,21",...,'101010,101060,101180,102220,103000,108060,None,None,None,None
18444,18444,34784070,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,마르퀴즈테크놀로지스(주),Test Engineers Mobile Phone,연구소·컨설팅·조사,'101010,1,"11,2",...,'101010,None,None,None,None,None,None,None,None,None
18445,18445,44437165,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(재) 노사발전재단,2022-05호 노사발전재단 직원 채용 공고(일반직_정보화),정부·공공기관·공기업,'101130,1,2,...,'101130,None,None,None,None,None,None,None,None,None

In [52]:
채용정보1["지역코드0"]=채용정보1["지역코드0"].str.replace(pat=r'[^\w]', repl=r'', regex=True)

In [53]:
채용정보1

,Unnamed: 0,id,마감여부,공고주소,회사명,공고제목,업종명,지역코드,근무형태코드,상위직무코드,...,지역코드0,지역코드1,지역코드2,지역코드3,지역코드4,지역코드5,지역코드6,지역코드7,지역코드8,지역코드9
0,0,44537982,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(주)델타엑스,Deep Learning Research Engineer (MS or higher ...,솔루션·SI·ERP·CRM,'101240,1,2,...,101240,None,None,None,None,None,None,None,None,None
1,1,44537970,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(주)두원전자통신,[두원전자통신] 정보통신 CCTV 기술지원 인원 충원(경남 지사),전기·전자·제어,'110150,1,"22,11,2,4,18,8",...,110150,None,None,None,None,None,None,None,None,None
2,2,44537969,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(주)대륜컨설팅,[서울] SEO / SEM 경력직 마케터 정기채용,광고·홍보·전시,'101010,1,"2,14",...,101010,None,None,None,None,None,None,None,None,None
3,3,44537962,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,반석써치(주),[정규직] 정보보호/정보보안 경력직 채용,시설관리·경비·용역,'101010,1,2,...,101010,None,None,None,None,None,None,None,None,None
4,4,44537955,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(주)대륜컨설팅,[부산] SEO / SEM 경력직 마케터 정기채용,광고·홍보·전시,'106160,1,"2,14",...,106160,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18441,18441,39715673,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(주)아이디정보시스템,소프트웨어 프로그램 개발자,솔루션·SI·ERP·CRM,"'101000,101070,101080",1,"11,2,16",...,101000,101070,101080,None,None,None,None,None,None,None
18442,18442,39659240,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(주)이젠아카데미,[국비지원 취업] 자바 웹개발/빅데이터/웹디자인/영상/건축,학원·어학원,"'101000,101010,101090,101150,101200,101230,102...",12,"11,22,2,13,15",...,101000,101010,101090,101150,101200,101230,102000,102280,102320,108000
18443,18443,38563977,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(주)우아한형제들,부문별 경력/신입 인재영입,솔루션·SI·ERP·CRM,"'101010,101060,101180,102220,103000,108060","1,16,2","22,12,2,3,14,4,15,5,16,21",...,101010,101060,101180,102220,103000,108060,None,None,None,None
18444,18444,34784070,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,마르퀴즈테크놀로지스(주),Test Engineers Mobile Phone,연구소·컨설팅·조사,'101010,1,"11,2",...,101010,None,None,None,None,None,None,None,None,None
18445,18445,44437165,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(재) 노사발전재단,2022-05호 노사발전재단 직원 채용 공고(일반직_정보화),정부·공공기관·공기업,'101130,1,2,...,101130,None,None,None,None,None,None,None,None,None

In [54]:
채용정보1.drop('지역코드', axis=1)

,Unnamed: 0,id,마감여부,공고주소,회사명,공고제목,업종명,근무형태코드,상위직무코드,직무코드,...,지역코드0,지역코드1,지역코드2,지역코드3,지역코드4,지역코드5,지역코드6,지역코드7,지역코드8,지역코드9
0,0,44537982,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(주)델타엑스,Deep Learning Research Engineer (MS or higher ...,솔루션·SI·ERP·CRM,1,2,"'109,160,181,272,300,108",...,101240,None,None,None,None,None,None,None,None,None
1,1,44537970,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(주)두원전자통신,[두원전자통신] 정보통신 CCTV 기술지원 인원 충원(경남 지사),전기·전자·제어,1,"22,11,2,4,18,8","'81,89,104,114,118,123,129,130,428,758,759,769...",...,110150,None,None,None,None,None,None,None,None,None
2,2,44537969,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(주)대륜컨설팅,[서울] SEO / SEM 경력직 마케터 정기채용,광고·홍보·전시,1,"2,14","'82,84,87,88,91,92,98,103,104,122,124,1412,141...",...,101010,None,None,None,None,None,None,None,None,None
3,3,44537962,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,반석써치(주),[정규직] 정보보호/정보보안 경력직 채용,시설관리·경비·용역,1,2,"'90,157,90,90",...,101010,None,None,None,None,None,None,None,None,None
4,4,44537955,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(주)대륜컨설팅,[부산] SEO / SEM 경력직 마케터 정기채용,광고·홍보·전시,1,"2,14","'82,84,87,88,91,92,98,103,104,122,124,1412,141...",...,106160,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18441,18441,39715673,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(주)아이디정보시스템,소프트웨어 프로그램 개발자,솔루션·SI·ERP·CRM,1,"11,2,16","'86,95,167,195,204,255,263,293,1153,1648,1649,...",...,101000,101070,101080,None,None,None,None,None,None,None
18442,18442,39659240,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(주)이젠아카데미,[국비지원 취업] 자바 웹개발/빅데이터/웹디자인/영상/건축,학원·어학원,12,"11,22,2,13,15","'82,83,84,86,87,88,89,90,91,92,95,101,103,104,...",...,101000,101010,101090,101150,101200,101230,102000,102280,102320,108000
18443,18443,38563977,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(주)우아한형제들,부문별 경력/신입 인재영입,솔루션·SI·ERP·CRM,"1,16,2","22,12,2,3,14,4,15,5,16,21","'84,87,90,92,104,114,143,235,236,267,329,338,3...",...,101010,101060,101180,102220,103000,108060,None,None,None,None
18444,18444,34784070,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,마르퀴즈테크놀로지스(주),Test Engineers Mobile Phone,연구소·컨설팅·조사,1,"11,2","'99,1004,1005,1006,104",...,101010,None,None,None,None,None,None,None,None,None
18445,18445,44437165,1,http://www.saramin.co.kr/zf_user/jobs/relay/vi...,(재) 노사발전재단,2022-05호 노사발전재단 직원 채용 공고(일반직_정보화),정부·공공기관·공기업,1,2,'130,...,101130,None,None,None,None,None,None,None,None,None

In [ ]:
with open('data/TL_SCCO_SIG_WGS84.json') as file:
    geo = json.loads(file.read())
    file.close()
geo